# virtual env python
.venv/
venv/
env/

# byte-compiled
**/__pycache__/
**/*.py[cod]

# pycharm
.idea/

# PYTEST
**/.pytest_cache/

# TEMP
TEMPORARY/
-*

# user saved data
USERDATA/

# DISTRIBUTION
build/
dist/
*.egg-info/
