# ==========================
# VERSION = (0, 0, 1)   # just add version
# VERSION = (0, 0, 2)   # add funcs-aux
# VERSION = (0, 0, 3)   # add block NESTED REQUIREMENTS
# VERSION = (0, 0, 4)   # add logger-aux
# VERSION = (0, 0, 5)   # add pytest-aux
# VERSION = (0, 0, 6)   # add nested in COMMON
# VERSION = (0, 0, 7)   # add new block TESTS +add classes_aux into COMMON
# VERSION = (0, 0, 8)   # add [deploy]build+twine+setuptools+cli_user +add singleton-meta in common/rename common to BASE/regroup subsets

# BASE =====================
# deploy -------------------
build
twine
setuptools

cli-user

# debug/test ---------------
pytest
pytest-aux
logger-aux
object-info

# common -------------------
requirements-checker
classes-aux
funcs-aux
singleton-meta

# nested -------------------
annot-attrs
numpy

# ========================================
# SPECIAL (FOR THIS PROJECT - ROOT) ------

# TESTS ----------------------------------

# NESTED ---------------------------------

# ========================================
