aiohappyeyeballs==2.3.4
aiohttp==3.10.1
aiosignal==1.3.1
annot_attrs==0.0.12
annotated-types==0.7.0
anyio==4.4.0
art==6.2
attrs==23.2.0
build==1.2.1
bus_user==0.4.13
can==0.0.0
cattrs==24.1.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
classes_aux==0.1.8
cli_user==0.1.3
click==8.1.7
click-datetime==0.2
colorama==0.4.6
contourpy==1.3.0
cryptography==43.0.0
cycler==0.12.1
docutils==0.21.2
dummy_module==0.0.2
enum34==1.1.10
fastapi==0.112.0
finam-export==5.1.1
fonttools==4.53.1
frozenlist==1.4.1
funcs_aux==0.4.24
h11==0.14.0
html5lib==1.1
idna==3.7
importlib_metadata==8.2.0
inflection==0.5.1
iniconfig==2.0.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
Jinja2==3.1.4
keyring==25.2.1
kiwisolver==1.4.7
logger_aux==0.0.11
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
more-itertools==10.3.0
multidict==6.0.5
nh3==0.2.18
numpy==2.0.1
object_info==0.2.20
packaging==24.1
pandas==2.2.2
pandas-datareader==0.10.0
pandas-datareaders-unofficial==0.0.4
pillow==10.4.0
pkginfo==1.10.0
platformdirs==4.2.2
pluggy==1.5.0
ply==3.11
private_values==0.5.9
pyasn1==0.6.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyparsing==3.1.4
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyqt_templates==0.1.3
pyserial==3.5
pysmi==1.4.4
pysnmp==6.2.4
pysnmpcrypto==0.0.4
pytest==8.3.2
pytest_aux==0.1.12
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
Quandl==3.7.0
readme_renderer==44.0
requests==2.32.3
requests-cache==1.2.1
requests-toolbelt==1.0.0
requirements_checker==0.2.14
rfc3986==2.0.0
rich==13.7.1
server_templates==0.3.3
setuptools==72.1.0
singleton_meta==0.1.3
six==1.16.0
smbus2==0.4.3
sniffio==1.3.1
starlette==0.37.2
testplans==0.4.16
tqdm==4.66.5
twine==5.1.1
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
uvicorn==0.30.5
webencodings==0.5.1
yarl==1.9.4
zipp==3.19.2
