# ==========================
# VERSION = (0, 0, 1)   # just add version
# VERSION = (0, 0, 2)   # add funcs-aux
# VERSION = (0, 0, 3)   # add block NESTED REQUIREMENTS
# VERSION = (0, 0, 4)   # add logger-aux
# VERSION = (0, 0, 5)   # add pytest-aux
# VERSION = (0, 0, 6)   # add nested in COMMON
# VERSION = (0, 0, 7)   # add new block TESTS +add classes_aux into COMMON

# COMMON ===================
pytest
requirements-checker
object-info
funcs-aux
classes-aux
logger-aux
pytest-aux

# NESTED ---------------------------------
annot_attrs
numpy

# TESTS ----------------------------------

# ========================================
# SPECIAL FOR THIS PROJECT - ROOT --------

# NESTED ---------------------------------

# ========================================
